<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navbar') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            <h2 class="subheading"><%= post.detail %></h2>
            <span class="meta">Posted by
              <a href="#"><%= post.author %></a>
              <%= new Intl.DateTimeFormat('en-US', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }).format(post.dateCreated) %></span>
              <% if (post.edited) { %>
                <span class="edited">(Edited)</span>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Post Content -->
<article>
  <style>
    /* Stil tanımlamaları */
    .post-content {
      position: relative;
    }

    .post-border {
      border: 0 solid transparent; /* Başlangıçta çerçeve yok */
      padding: 20px;
      background-color: #f4e5d6; /* Taş devri rengi */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Gölgeli kutu */
    }

    .post-shadow {
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Yazıyı gölgelendir */
      padding: 10px; /* Gölgelendirme ile çerçeve arasındaki boşluk */
      background-color: #fff; /* Yazı arkaplan rengi */
    }

    .post-date {
      position: absolute;
      bottom: -20px;
      right: 10px;
      font-size: 12px;
      color: #6c757d;
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <% if (post.image) { %>
          <div class="post-image">
            <img class="img-fluid" src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" alt="Post Image">
          </div>
        <% } %>

        <div class="post-content">
          <div class="post-border">
            <div class="post-shadow">
              <i class="fas fa-quote-left"></i>
              <p><%= post.article %></p>
              <i class="fas fa-quote-right"></i>
            </div>
          </div>
        </div>
   
        <!-- Update and Delete Buttons -->
        <div class="mt-4">
          <a href="/posts/update/<%= post._id %>" class="btn btn-primary mr-2">
            <i class="fas fa-edit"></i> Update
          </a>
          <a onclick="return confirm(`Are you sure to delete <%= post.title.toUpperCase() %>?`)" href="/posts/<%= post._id %>?_method=DELETE" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Delete
          </a>
          <a href="/posts/like/<%= post._id %>" class="btn btn-secondary">
            <i class="fas fa-thumbs-up"></i> <%= post.like %> Likes
          </a>
        </div>
      </div>
    </div>
  </div>
</article>





  <hr>

  <%- include('partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
